* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

h1{
    padding-top: 5%;
    font-size: 400%;
    text-align: center;
    color: #FFF;
}
h2{
    padding-top: 5%;
    font-size: 300%;
    text-align: center;
    color: #FFF;
}

.texto{
    color: white;
}

.body-jugar{
    background: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-jugar{
    background: linear-gradient(to bottom, #1466c393, #000000be);
}

.card{
    width: 60vh;
    height: 60vh;
    margin-bottom: 2%;
}

.fonditos{
    background: linear-gradient(to bottom, #1466c3, #0000005b);
    border-width: 8px;
    border-color: #014ba0;
    border-radius: 2%;
}

.pokemon-img{
    height: auto;
}

#empezar{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 150%;
    border-radius: 1%;
}
#own{
    height: 100vh;
    background-color: rgba(106, 176, 209, 0.151);
    border-style: dashed;
    border-color: aquamarine;
    border-width: 10px;
}
#bottomContainer{
    height: 20%;
    padding-bottom: 2%;
}
#console{
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom, #1466c3, #0000005b);
    border-style: groove;
    border-color: rgb(4, 39, 153);
    border-width: 10px;
    margin-right: 5%;
}
.console-text{
    font-size: 150%;
}
#bothPokemon{
    padding-top: 10%;
}
.own-pokemon{
    transform: rotateY(180deg);
}

.battle-buttons{
    width: 48%;
    height: 100%;
    margin: 2px;
    padding: 20px;
}
.fight-buttons{
    width: 48%;
    height: 100%;
    margin: 2px;
    background: linear-gradient(to bottom, #c33714, #0000005b);
}