* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

h1{
    padding-top: 5%;
    font-size: 400%;
    text-align: center;
    color: #FFF;
}
h2{
    padding-top: 5%;
    font-size: 300%;
    text-align: center;
    color: #FFF;
}

.texto{
    color: white;
}

.body-jugar{
    background: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-jugar{
    background: linear-gradient(to bottom, #1466c393, #000000be);
}

.card{
    width: 60vh;
    height: 60vh;
    margin-bottom: 2%;
}

.fonditos{
    background: linear-gradient(to bottom, #1466c3, #0000005b);
    border-width: 8px;
    border-color: #014ba0;
    border-radius: 2%;
}

.pokemon-img{
    width: 150px;
    height: auto;
}